<ion-header>
  <ion-toolbar>
    <ion-title>
      App Loja de Cerveja Duff
    </ion-title>
  </ion-toolbar>
  <ion-button collor="danger">Menu </ion-button>
  <br/>
  <ion-button collor="danger" [routerLink]="['/cervejas']" >Cervejas </ion-button>
</ion-header>

<ion-content padding>
  Bem vindo ao APP de cerveja mais famoso do Brasil
  <h1>Cervejas Duff, a cerveja do Homer do Simpsons, aquela da latinha vermelha, deliciosa tanto no frio quanto no calor. </h1>
  <br/>
  <br/>
  
  
</ion-content>
